IndentWidth: 4
ColumnLimit: 100
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
IndentPPDirectives: AfterHash
SpaceAfterCStyleCast: true
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: Consecutive
AlignConsecutiveDeclarations: Consecutive
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
